{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | LOGIN </title>

{% endblock meta %}

{% block content %}

<main>
    <section class="container p-2 text-center ">
        <h1>
            BABADU - 9
        </h1>
        <div class="row d-flex justify-content-center my-5">
            <div class="container py-4 px-4">
                <a class="btn btn-outline-primary" id="login-btn" href=#>Login</a>
                <a class="btn btn-outline-primary" id="regist-btn" href=#>Register</a>
            </div>
        </div>
        <div class="row" id="form-section">

        </div>
        <!-- Pills navs -->

        <!-- Pills navs -->

    </section>
</main>
<style>

</style>

{% endblock content %}