{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | PELATIH </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 text-primary">Daftar Atlet</h1>
            <form>
                <div class="mb-3">
                    <label for="inputNama" class="form-label">Atlet yang akan didaftarkan</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pilih Atlet</option>
                        <option value="1">Atlet 1</option>
                        <option value="2">Atlet 2</option>
                        <option value="3">Atlet 3</option>
                      </select>
                </div>

                <div class="d-grid mt-5">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>

<style>

</style>
{% endblock content %}