{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

    <div class="d-flex my-5 justify-content-center align-items-center">
        <div class="container-sm mx-5 p-5 shadow-sm border rounded-5 border-primary">
        <h1 class="text-center mb-5 text-primary">Dashboard</h1>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="col">Nama</th>
                <td>Wayne Rooney</td>
                <th scope="col">Spesialisasi Kategori</th>
                <td>Tunggal Campuran</td>
              </tr>
              <tr>
                <th scope="col">Negara</th>
                <td>Vrindavan</td>
                <th scope="col">Tanggal Mulai</th>
                <td>15-04-2020</td>
              </tr>
              <tr>
                <th scope="col">Email</th>
                <td colspan="3">wrooney@gmail.com</td>
              </tr>
            
            </tbody>
          </table>

        <div style="margin-top:50px"></div>          
    </div>
    </div>

    <!-- DASHBOARD UMPIRE-->
    <!-- div class="container m-5">
        <h1 class="text-center mb-4 text-primary">Dashboard</h1>
        <center>
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <p>Nama: Wayne Rooney</p>
                <p>Negara: Vrindavan</p>
                <p>Email: wrooney@gmail.com</p>
            </div>
        </center>
        <div style="margin-top:50px"></div>          
    </div -->

</main>

{% endblock content %}