{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | PELATIH </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="my-5 d-flex justify-content-center align-items-center">
        <div class="container-xl p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 text-primary">List Atlet</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama Atlet</th>
                        <th scope="col">Email</th>
                        <th scope="col">World Rank</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Karly Digg</td>
                        <td>kdigga@about.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fabiano Visick</td>
                        <td>fvisickb@liveinternet.ru</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Karly Digg</td>
                        <td>kdigga@about.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fabiano Visick</td>
                        <td>fvisickb@liveinternet.ru</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Karly Digg</td>
                        <td>kdigga@about.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fabiano Visick</td>
                        <td>fvisickb@liveinternet.ru</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Karly Digg</td>
                        <td>kdigga@about.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fabiano Visick</td>
                        <td>fvisickb@liveinternet.ru</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Karly Digg</td>
                        <td>kdigga@about.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fabiano Visick</td>
                        <td>fvisickb@liveinternet.ru</td>
                        <td>60</td>
                    </tr>
           
                </tbody>
            </table>
        </div>


    </div>
</main>

<style>
    .form-select {
        color: #356369;
    }

.table {
    --bs-table-striped-bg: #f2f9f8;
  
}
</style>
{% endblock content %}