{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | UMPIRE </title>

{% endblock meta %}

{% block content %}

<main>
  <!-- P<main>
    <!-- Pills navs -->


  <div class="d-flex my-5 justify-content-center align-items-center">
    <div class="container-sm mx-5 p-5 shadow-sm border rounded-5 border-primary">
      <h1 class="text-center mb-5 text-primary">HASIL PERTANDINGAN EVENT A</h1>

      <div class="container">
        <div class="row">
          <table class="table table-bordered">
            <tbody class="">
              <tr>
                <th scope="col">Nama Event</th>
                <td>Event A</td>
                <th scope="col">Tanggal Mulai</th>
                <td>12-04-2023</td>
              </tr>
              <tr>
                <th scope="col">Stadium</th>
                <td>GBK</td>
                <th scope="col">Tanggal Selesai</th>
                <td>15-04-2023</td>
              </tr>
              <tr>
                <th scope="col">Hadiah</th>
                <td>12-04-2023</td>
                <th scope="col">Kapasitas</th>
                <td>50/64</td>
              </tr>
              <tr>
                <th scope="col">Tanggal Selesai</th>
                <td>15-04-2023</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div style="margin-top:50px"></div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tahap</th>
                <th scope="col">Nama Tim</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr >
                <td>Juara 1</td>
                <td>A</td>
              </tr>
              <tr >
                <td>Juara 2</td>
                <td>G</td>
              </tr>
              <tr >
                <td>Juara 3</td>
                <td>D</td>
              </tr>
              <tr >
                <td>Semifinal</td>
                <td>E</td>
              </tr>
              <tr>
                <td rowspan="4">Perempat Final</td>
                <td>C</td>
              </tr>
              <tr>
                <td>C</td>
              </tr>
              <tr>
                <td>C</td>
              </tr>
                <td>C</td>
              </tr>
            
              </tr>
            </tbody>
          </table>
        </div>




      </div>
    </div>


  </div>
  </div>

</main>

{% endblock content %}