{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | UMPIRE </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="my-5 d-flex justify-content-center align-items-center">
        <div class="container-xl p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 text-primary">List Event</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Event</th>
                        <th scope="col">Stadium</th>
                        <th scope="col">Hadiah</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Tgl Mulai</th>
                        <th scope="col">Tgl Selesai</th>
                        <th scope="col">Kapasitas</th>
                        <th scope="col"> #</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Singapore Open 2023</td>
                        <td>Singapore Indoor Stadium</td>
                        <td>Super 750</td>
                        <td>Super 750</td>
                        <td>6/6/2023</td>
                        <td>11/6/2023</td>
                        <td>100</td>
                        <td><a class="nav-link" href="#">Mulai</a></td>
                    </tr>

    
           
                </tbody>
            </table>
        </div>


    </div>
</main>

<style>

.table {
    --bs-table-striped-bg: #f2f9f8;
  
}
</style>
{% endblock content %}