{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

   
    <div class="container m-5">
        <h1 class="text-center mb-4 text-primary">Daftar Event</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nama Stadium</th>
                <th scope="col">Negara</th>
                <th scope="col">Kapasitas</th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GBK</td>
                <td>Indonesia</td>
                <td>8</td>
                <td><button type="button" class="btn btn-primary">Pilih</button></td>
              </tr>
              <tr>
                <td>Senayan</td>
                <td>Indonesia</td>
                <td>16</td>
                <td><button type="button" class="btn btn-primary">Pilih</button></td>
              </tr>
              <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
          
    </div>

</main>

{% endblock content %}