{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

   
    <div class="container m-5">
        <h1 class="text-center mb-4 text-primary">Dashboard</h1>
        <center>
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <p>Nama lengkap: Ujang Kusnadi</p>
                <p>Negara: Wakanda</p>
                <p>Email: ultraman@gmail.com</p>
                <p>Tanggal lahir: 15-04-2023</p>
                <p>Play: Right Hand</p>
                <p>Tinggi badan: 174</p>
                <p>Jenis Kelamin: Pria</p>
                <p>Pelatih: -</p>
                <p>Status: Not Qualified</p>
                <p>World rank: -</p>
                <p>Total poin: 0</p>
            </div>
        </center>
        <div style="margin-top:50px"></div>          
    </div>

    <!-- DASHBOARD PELATIH-->
    <!-- div class="container m-5">
        <h1 class="text-center mb-4 text-primary">Dashboard</h1>
        <center>
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <p>Nama: Wayne Rooney</p>
                <p>Negara: Vrindavan</p>
                <p>Email: wrooney@gmail.com</p>
                <p>Spesialisasi Kategori: Tunggal Campuran</p>
                <p>Tanggal mulai: 15-04-2020</p>
            </div>
        </center>
        <div style="margin-top:50px"></div>          
    </div -->

    <!-- DASHBOARD UMPIRE-->
    <!-- div class="container m-5">
        <h1 class="text-center mb-4 text-primary">Dashboard</h1>
        <center>
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <p>Nama: Wayne Rooney</p>
                <p>Negara: Vrindavan</p>
                <p>Email: wrooney@gmail.com</p>
            </div>
        </center>
        <div style="margin-top:50px"></div>          
    </div -->

</main>

{% endblock content %}