{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

   
    <div class="d-flex my-5 justify-content-center align-items-center">
        <div class="container-sm mx-5 p-5 shadow-sm border rounded-5 border-primary">
        <h1 class="text-center mb-5 text-primary">Dashboard</h1>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="col">Nama Lengkap</th>
                <td>Ujang Kusnadi</td>
                <th scope="col">Tinggi Badan</th>
                <td>174 cm</td>
              </tr>
              <tr>
                <th scope="col">Negara</th>
                <td>Wakanda</td>
                <th scope="col">Jenis Kelamin</th>
                <td>Laki-laki</td>
              </tr>
              <tr>
                <th scope="col">Email</th>
                <td>ultraman@gmail.com</td>
                <th scope="col">Pelatih</th>
                <td>-</td>
              </tr>
              <tr>
                <th scope="col">Tanggal Lahir</th>
                <td>15-04-20233</td>
                <th scope="col">Status</th>
                <td>Not Qualified</td>
              </tr>
              <tr>
                <th scope="col">Play</th>
                <td>Right Hand</td>
                <th scope="col">World Rank</th>
                <td>-</td>
              </tr>
              <tr>
                <th scope="col">Total Poin</th>
                <td>0</td>
              </tr>
            </tbody>
          </table>

        <div style="margin-top:50px"></div>          
    </div>
    </div>



</main>

{% endblock content %}