{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

   
    <div class="container m-5">
        <h1 class="text-center mb-4 text-primary">PILIH KATEGORI</h1>
        <center>
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <p>Event: Event A</p>
                <p>Hadiah: Rp 5.000.000</p>
                <p>Tanggal Mulai: 12-04-2023</p>
                <p>Tanggal Selesai: 15-04-2023</p>
                <p>Kategori: S200</p>
                <p>Kapasitas: 50/64</p>
                <p>Stadium: GBK</p>
                <p>Negara Indonesia</p>
            </div>
        </center>
        <div style="margin-top:50px"></div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Partner</th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tunggal Putra</td>
                <td>-</td>
                <td><button type="button" class="btn btn-primary">Join</button></td>
              </tr>
              <tr>
                <td>Ganda Putra</td>
                <td>[Dropdown atlet]</td>
                <td><button type="button" class="btn btn-primary">Join</button></td>
              </tr>
              <tr>
                <td>Ganda Campuran</td>
                <td>[Dropdown atlet]</td>
                <td><button type="button" class="btn btn-primary">Join</button></td>
              </tr>
            </tbody>
          </table>
          
    </div>

</main>

{% endblock content %}