{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
  <!-- P<main>
    <!-- Pills navs -->


  <div class="d-flex my-5 justify-content-center align-items-center">
    <div class="container-sm mx-5 p-5 shadow-sm border rounded-5 border-primary">
      <h1 class="text-center mb-5 text-primary">Daftar Event</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nama Event</th>
            <th scope="col">Total Hadiah</th>
            <th scope="col">Tanggal Mulai</th>
            <th scope="col">Kategori</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider align-middle">
          {% if daftar_event %}
          {% for event in daftar_event %}
          <tr>
            <td>{{ event.nama_event}}</td>
            <td>{{ event.total_hadiah}}</td>
            <td>{{ event.tgl_mulai}}</td>
            <td>{{ event.kategori_superseries}}</td>
            <td><button class="btn btn-primary mx-auto" type="submit"><a href="{{ event.slug }}">Pilih</a></button></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="5" class="text-center">Tidak Ada Event</td>
          </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>

</main>

{% endblock content %}