{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | ATLET </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- P<main>
    <!-- Pills navs -->

   
    <div class="d-flex my-5 justify-content-center align-items-center">
      <div class="container-sm mx-5 p-5 shadow-sm border rounded-5 border-primary">
        <h1 class="text-center mb-5 text-primary">Enrolled Event</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nama Event</th>
                <th scope="col">Stadium</th>
                <th scope="col">Hadiah</th>
                <th scope="col">Kategori Superseries</th>
                <th scope="col">Kategori Spesialisasi</th>
                <th scope="col">Tanggal Mulai</th>
                <th scope="col">Tanggal Selesai</th>
                <th scope="col">Kapasitas</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>Event A</td>
                <td>GBK</td>
                <td>Rp 5.000.000</td>
                <td>S200</td>
                <td>Tunggal Putra</td>
                <td>12-04-2023</td>
                <td>15-04-2023</td>
                <td>50/64</td>
                <td><button class="btn btn-primary" type="submit"><a href="#">Unenrolled</a></button></td>
              </tr>
              <tr>
                <td>Event A</td>
                <td>GBK</td>
                <td>Rp 5.000.000</td>
                <td>S200</td>
                <td>Tunggal Putra</td>
                <td>12-04-2023</td>
                <td>15-04-2023</td>
                <td>50/64</td>
                <td><button class="btn btn-primary" type="submit"><a href="#">Unenrolled</a></button></td>
              </tr>
              <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

</main>

{% endblock content %}